<?php

// First rename this file to “secrets.php”. Then add your reseller id and secret key below.
// Please make sure to keep your secret key secret. It should never be publicly accessible!

$reseller_id = '';
$secret_key = '';

?>