<?php

// First rename this file to “secret.php”. Then add your Reseller ID and Secret Key below.
// Please make sure to keep your Secret Key secret. It should never be publicly accessible!

$reseller_id = '';
$secret_key = '';

$endpoint = 'https://diagnose.testweb.bsl.nl/api/integration/';

?>